body {
    font-family: "Roboto", "Helvetica Neue";
 
}

.seltopic {
    color: #FFFFFF;
    background-color: #428bca;
}

.toolbar {
    font-size: 22px;
   
}


.dark-mode a {
   color: #fff;
}

a{
    cursor:pointer;
}