<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zippy Note</title>
 
  <link rel="stylesheet" href="vendor/leon-mbs/zippy/assets/css/allzippy.min.css">
        <link rel="stylesheet" href="vendor/leon-mbs/zippy/assets/css/allzcl.min.css">
        <link rel="stylesheet" href="/assets/site.css">
          <script src="vendor/leon-mbs/zippy/assets/js/allzippy.min.js" type="text/javascript"></script>
        <script src="vendor/leon-mbs/zippy/assets/js/allzcl.min.js" type="text/javascript"></script>
        <script src="/assets/ckeditor/ckeditor.js" type="text/javascript"></script>
       



    </head>

    <body  >

  
        <div class="container-fluid"  >
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Zippy Note</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
 
      
 
                    <ul class="nav navbar-nav navbar-right  ">
                      
                        {{^username}}
                        <li><a href="/signin">Вход</a></li>
                        {{/username}}
                        {{#username}}
                        <li class="dropdown">
                            <a   class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span  >{{username}}</span> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/?p=App/Pages/Account"  >Аккаунт</a></li>
                                {{#admin}}
                                <li><a href="/?p=App/Pages/Users"  >Пользователи</a></li>
                                {{/admin}}
                                 <li role="separator" class="divider"></li>
                                <li><a zippy="logout">Выход</a></li>
                            </ul>
                        </li>
                        {{/username}}
                    </ul>
               
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>            
            
            
            
     

            <div class="row" >
                <div class="col-xs-8 col-xs-offset-2" >
                    <div  class="alert alert-danger" role="alert"  zippy="errormessage"></div>
                </div>
                <div class="col-xs-8 col-xs-offset-2" >
                    <div   class="alert alert-success" role="alert"  zippy="successmessage"></div>
                </div>
                <div class="col-xs-8 col-xs-offset-2" >
                    <div   class="alert alert-warning" role="alert"  zippy="warnmessage"></div>
                </div>
                <div class="col-xs-8 col-xs-offset-2" >
                    <div   class="alert alert-info" role="alert"  zippy="infomessage"></div>
                </div>
            </div>
            <childpage/>

        </div>
    </body>
</html>
