<html>
    <head>




    </head>

    <body>



        <div class="row">
            <section class="  col-xs-12 col-sm-12 col-md-9 col-lg-9">
                <div class="  text-center">
                    <a title="Edit" zippy="edita" class="fa fa-edit  icon20"> </a>
                    <a title="Remove"  zippy="dela"   class="fa fa-remove  icon20"> </a>
                    <a href="/blogs" class="btn btn-default"><span class="fa fa-arrow-left"></span> back to list </a>
                </div>
                <div  >
                    <img zippy="image"  class="img-rounded">
                </div>
                <div  >
                    <h4 zippy="title" class="text-bold text-center"></h4>
                    <p zippy="subtitle"  ></p>
                </div>
                <div   zippy="content"  >
                </div>

                <div class="row  ">
                    <h4 class="text-center">Random articles</h4>
                    <article zippy="rarticlelist" class="articlelist col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div    >
                            <a zippy="rphoto"   >
                                <img   class="img-rounded"  style="width:128px">
                            </a>
                        </div>

                        <div  >
                            <h4 class="text-bold"><a   zippy="rtitle"></a></h4>
                            <p></p>
                        </div>
                    </article>

                </div>
            </section>
          
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                <strong>Comments (<span zippy="count"></span>)</strong>
                <a name="comments"></a> 
                <div>
                    <div zippy="commentitem"  >

          



                        <a zippy="deletecomment"  title=" Remove "><span class="fa fa-remove" style="color:red;"></span></a> <span zippy="created" style="font-size:smaller" ></span>  <span style="font-weight: bolder;" zippy="author"></span>:

            


                        <pre zippy="content2"  ></pre>


                    </div>
                    <hr style="color:black;">

                    <div  >



                        <form method="post" zippy="commentform">
                            {{^username}}
                            <div class="form-group">

                                <input class="form-control" zippy="cname" required="required" placeholder="Your name" >
                            </div>
                            {{/username}}
                            <div class="form-group">

                                <textarea class="form-control" zippy="comment" required="required" placeholder="Comment..." ></textarea>
                            </div>
                            {{^username}}
                            <div class="form-group">

                                <input style="width:100px;" class="form-control" zippy="code" required="required" placeholder="Enter code">&nbsp; <img title="Обновить" style="cursor:pointer; height:32px;" zippy="captcha">

                            </div>
                            {{/username}}
                            <div class="form-group">
                                <input type="submit" value="Send" class="btn btn-primary  " >                          </form>
                            </div>
                    </div>

                </div>
            </div>


            <script>

                function check_dela() {
                    return  confirm("Remove?")
                }
            </script>



    </body>
</html>