 
<html>


    <body>
        <a zippy="newa" class="btn btn-default  ">Add article</a>   
        <div class="row">


            <section class="  col-xs-12 col-sm-12 col-md-9 col-lg-9"   >
               
                        <h3>Party ideas</h3>
                        <div class="row">
                            <div zippy="articlelist" class=" col-xs-12 col-sm-4 col-md-4 col-lg-3">

                

                                <div><a   title="Edit" zippy="edita" class="fa fa-edit icon20"> </a>
                                    <a title="Remove"  zippy="dela"   class="fa fa-remove icon20"> </a>
                                </div>
                                <a  zippy="photo"  >   
                                    <img style="  width:100%"  class="img-rounded  ">
                                </a>
                                <h4  ><a zippy="title"></a></h4>
                                <p zippy="subtitle"></p>                                 </a>  

                              </div>       
                        </div> 
                        <div zippy="pag"></div>      
                    </div>       
                </div>       
            </section> 

            <section class=" col-xs-12 col-sm-12 col-md-3 col-lg-3"   >
                <div class="box"   >
                    <div class="box-body" >
                        <h3>The betters</h3>
                        <div class="row">
                            <div   zippy="barticlelist" class=" col-xs-12 col-sm-6 col-md-12 col-lg-12">



                                <a href="#" class="  row  " zippy="barticle">

                                    <p zippy="btitle"></p>




                                </a>            
                            </div>       
                        </div>  
                    </div>  
                </div>  

            </section>       

        </div>       




        <script type="text/javascript">


            function check_dela() {
                return  confirm("Delete?")
            }

        </script>
    </body>
</html>
