<html>

<body>
<div class="row  bg-image  ">
    <div class="col-xs-12">
        <h1 class="main-title text-center text-white">Make a party wherever you are</h1>
        <h2 class="main-title text-center text-white">Create and promote your events. Invite guests </h2>
        <p class="text-center">
            <a class="btn btn__red btn-lg mb-15-xs mr-15" href="#">Create party</a>
            <a class="btn btn__red btn-lg mb-15-xs ml-15" href="#">view party</a>
        </p>
    </div>
</div>

<div class="row iconBlock">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item">
        <img src="/assets/img/icon1.png" alt="icon1">
        <h2>Easy and effective</h2>
        <p>No extra payments to agencies. View vendors' summaries and contact them directly. To promote your events you
            can use service tools.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item"><img src="/assets/img/icon2.png" alt="icon2">
        <h2>Convenient to Use</h2>
        <p>Organizing a party is simple and looks like a meccano, where you pick up the necessary items. Choose an
            interesting scenario, select the appropriate vendor and end with sending invitations.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item"><img src="/assets/img/icon3.png" alt="icon3">
        <h2>Invite Guests</h2>
        <p>Party can be private or public. If you want to attract visitors, it can be done at any conditions, convenient
            for you. Just publish your party information in the window of public events.</p>
    </div>
</div>
</body>
</html>




