<html>
 
    <body>
<div class="row"  >
    <div class="col-xs-12  ">
   <div class="box"   >
     <div class="box-body bg-image" >
     xxxx
     </div>
         </div>
    </div>
    </div>
        
<div class="row"  >
    <div class="col-xs-12  ">
   <div class="box"   >
     <div class="box-body text-center" >
     <h3 >Cockktail is an online party constructor, through which you can effortlessly organize and promote an amazing party in a variety of formats </h3>
     <h4>from a stag-party in a small circle of friends to an open air music festival.</h4>
     </div>
         </div>
    </div>
    </div>
    
    
<div class="row">    
  <div class="col-xs-12 col-sm-4">
     <div class="box"   >
      <div class="box-body">
        <b> For party makers</b>
         <ul>
            <li>define the budget </li>
            <li>set the type of the party </li>
            <li>choose location  </li>
            <li>select vendors</li>
            <li>chat with vendors </li>
            <li>send invitations/sell tickets  </li>
            <li>enjoy the party!  </li>
    </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="box"   >
      <div class="box-body">
         <b>    For clubbers   </b>
          <ul>
            <li>define the budget </li>
            <li>set the type of the party </li>
            <li>choose location  </li>
            <li>select vendors</li>
            <li>chat with vendors </li>
            <li>send invitations/sell tickets  </li>
            <li>enjoy the party!  </li>
    </ul>
    </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="box"   >
      <div class="box-body">
     <b>    For vendors   </b>
          <ul>
            <li>define the budget </li>
            <li>set the type of the party </li>
            <li>choose location  </li>
            <li>select vendors</li>
            <li>chat with vendors </li>
            <li>send invitations/sell tickets  </li>
            <li>enjoy the party!  </li>
    </ul>
    </div>
    </div>
  </div>
    
 
</div>
 
<div class="row">
    <div class="col-xs-10 col-xs-offset-1  ">
     <div class="box"   >
      <div class="box-body text-center">
<iframe src="https://player.vimeo.com/video/201548861" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://vimeo.com/201548861">Cockktail</a> from <a href="https://vimeo.com/user62176407">Vadim Matviichuk</a> on <a href="https://vimeo.com">Vimeo</a>.</p>         
 </div></div>
 </div></div>
    </body>
    
     
</html>
