<html>
<head>
 
</head>
<body class="hold-transition register-page">
<div class="register-box">
   

  <div class="register-box-body">
    <p class="login-box-msg">Register a new membership</p>

    <form  zippy="regform">
      <div class="form-group has-feedback">
        <input zippy="username" type="text" class="form-control" placeholder="Full name">
        <span class="fa fa-user form-control-feedback"></span>
      </div>
   
      <div class="form-group has-feedback">
        <input zippy="email" type="email" class="form-control" placeholder="Email">
        <span class="fa fa-envelope form-control-feedback"></span>
      </div>
     <div class="form-group has-feedback">
        <select zippy="userrole"   class="form-control" >
          <option value="0">Select  your role</option>
        </select>
        <span class="fa fa-users form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input zippy="password" type="password" class="form-control" placeholder="Password">
        <span class="fa fa-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input zippy="confirm" type="password" class="form-control" placeholder="Retype password">
        <span class="fa fa-lock form-control-feedback"></span>
      </div>
      <div class="row">
         
       
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
        </div>
       
      </div>
    </form>
     <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign up using  Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-twitter btn-flat"><i class="fa fa-twitter"></i> Sign up using Twitter</a>
    </div>   

    <a href="/signin" class="text-center">I already have a membership</a>
     
     
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->

 
</body>
</html>
