<html>

<body>

            <div class="row">
            <div class="col-3">
            <h3>Профиль</h3>
                    <form zippy="profileform" role="form"   enctype="multipart/form-data" >
                        <!-- <h4>Аккаунт</h4> -->
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" zippy="email" readonly  >
                        </div>
                        <div class="form-group">
                            <label for="username">Имя</label>
                            <input   type="text" class="form-control" zippy="username" required="required">
                        </div>

                        <div class="form-group">
                            <label for="password">Пароль</label>
                            <input    type="password" class="form-control" zippy="password" >
                        </div>
                        <div class="form-group">
                            <label for="confirm">Подтверждение</label>
                            <input   type="password" class="form-control" zippy="confirm" >
                        </div>
                    
                        <div class="form-group  ">
                        <input type="submit"  value="Сохранить" class="btn btn-primary  "  >
                         </div>

                    </form>
          </div>
          </div>

</body>
</html>
