<html>

<body>


    <div class="row" zippy="plist">
        <div class="col-10">
            <h3>User list</h3>
            <div class="navbar nav">
                <form zippy="filterform" class="form-inline" role="search">


                    <div class="form-group ">

                        <input placeholder="Search..." type="search" zippy="search" class="form-control mr-sm-2 ">
                    </div>


                    <input type="submit" value="Update" class="btn btn-outline-success  navbar-btn ">
                </form>
            </div>

            <table class="table    table-sm ">

                <tr>

                    <th>Name</th>



                    <th>Created</th>

                </tr>
                <tr zippy="userrow">

                    <td>
                        <a target="_blank" zippy="username"></a>
                    </td>


                    <td zippy="created" align="center"></td>


                </tr>

            </table>
            <div zippy="paginator"></div>



        </div>
    </div>

    <div class="row" zippy="pedit">
        <div class="col-10">
            <h3>Редактирование пользователя</h3>

        </div>
    </div>

</body>

</html>