<html>

<body>


    <div class="row" zippy="plist">
        <div class="col-10 col-md-4  col-xl-3">
            <h3>Пользователи</h3>
             
            <a zippy="adduser">Добаавить</a>
            <table class="table    table-sm ">

                <tr>

                    <th>Логин</th>
                    <th> </th>



                    

                </tr>
                <tr zippy="userrow">

                    <td>
                        <a   zippy="username"></a>
                    </td>

                    <td><a zippy="del"> <i class="fa fa-trash"  /> </a></td>
                    

                </tr>

            </table>
      



        </div>
    </div>

    <div class="row" zippy="pedit">
        <div class="col-10 col-md-4  col-xl-3">
            <h3>Редактирование пользователя</h3>
                    <form zippy="editform" role="form">
                    <div class="form-group">
                        <label for="editname">Логин</label>
                        <input pattern="[_a-zA-Z0-9]+"   class="form-control" zippy="editname"
                               required="required">
                        <small>Допускаются латиские буквы, цифры и подчеркивание</small>
                    </div>
                    <div class="form-group">
                        <label for="editpass">Пароль</label>
                        <input   class="form-control" zippy="editpass">
                        <span style="font-size:12px">Если не  меняется  пароль существующего  пользолвателя, оставте пустым</span>
                    </div>
                  
                    
                    <div class="form-group">

                        <button type="submit" class="btn btn-primary   ">Сохранить</button>
                        &nbsp; <a zippy="cancel" class="btn btn-light    ">Отменить</a>
                    </div>
                </form>

        </div>
    </div>
        <script>
            function check_del() {

                return confirm("Удалить  пользователя?")

            }

        </script>
</body>

</html>